<h2>Your Topics to Complete</h2>
<div class="panels">
	
<div class="main">

<ul class="entry-list">
	<% @entries.each do |entry|%>	
	<li>
		
			 <% if entry.topic %>
				<h3><%= entry.topic.title %>	</h3>
				<p>Started on <%=entry.created_at%> and updated on <%=entry.updated_at%></p>
				<p><%= link_to "#{entry.link[:label]}", :controller=>"entries", :action=>"#{entry.link[:action]}", :topic=>entry.topic.id %></p>

			<% else%>

							<p><%= link_to "Delete", :controller=>"entries", :action=>"delete", :eid=>entry.id %></p>
			<% end %>
			

			
	</li>
	<% end %>
</ul>

</div>


<div class="side">
	<h2>Topics</h2>
	<ul class="topic-list">
		<% @topics.each do |topic|%>	
		<li>
			<h3><%= topic.title %>	</h3>
			<p><%= link_to "Start >>", :controller=>"entries", :action=>"update", :topic=>topic.id %></p>
			<p>Due by <%= topic.due_on%>
			
		</li>
		<% end %>
	</ul>

</div>

</div>