<h1>Listing topics</h1>

<table cellspacing="0">
  <tr>
    <th>Title</th>
    <th>Questions</th>
    <th>Due on</th>
    <th>Active on</th>
	<th>Count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td width="25%"><%= topic.title %></td>
    <td width="50%"><%= topic.questions %></td>
    <td nowrap="true"><%= topic.due_on %></td>
    <td nowrap="true"><%= topic.active_on %></td>
	    <td nowrap="true"><%= topic.entries.length %></td>
    <td><%= link_to 'Show', topic %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Destroy', topic, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
